{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
{% if form.non_field_errors %}
<div class="errors" >
  {% for error in form.non_field_errors %}
    <span>{{error}}</span>
  {% endfor %}
</div>
{% endif %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url({% static 'account/images/bg-01.png' %});">
        <span class="login100-form-title-1">
          Sign up
        </span>
      </div>

      <form class="login100-form validate-form" method="POST" action="{% url 'account_signup' %}">{% csrf_token %}
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Username:</span>
          <input class="input100" type="text" name="username" placeholder="Username">
          <span class="focus-input100"></span>
          {% if form.username.errors %}
          <div class="errorfield" >
            {% for error in form.Username.errors %}
              <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
          <span class="label-input100">Password:</span>
          <input class="input100" type="password" name="password1" placeholder="Enter password">
          <span class="focus-input100"></span>
          {% if form.password1.errors %}
          <div class="errorfield" >
            {% for error in form.password.errors %}
              <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
          <span class="label-input100">Password(again):</span>
          <input class="input100" type="password" name="password2" placeholder="Enter password">
          <span class="focus-input100"></span>
          {% if form.password2.errors %}
          <div class="errorfield" >
            {% for error in form.password.errors %}
              <span>{{error}}</span>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div>
            <div class="txt1">
            Already have an account? <a href="{{ login_url }}">sign in</a>
            </div>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
