{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>{% block HeadTitle %} WaiterShop {% endblock HeadTitle %}</title>
    {% block extra_head %}
    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "shop/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static "shop/assets/css/fontawesome.css" %}">
    <link rel="stylesheet" href="{% static "shop/assets/css/templatemo-sixteen.css" %}">
    <link rel="stylesheet" href="{% static "shop/assets/css/owl.css" %}">
    <link rel="stylesheet" href="{% static "shop/assets/css/rtl.css" %}">


  </head>

  <body>
    
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    {% if messages %}
    <div class="mt-5 pt-5">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </div>
    {% endif %}

    <!-- Header -->
    <header class="fixed-top">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'core:home' %}"><h2>Waiter <em>Shop</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item{% if request.path == '/' %} active{% endif %}">
                <a class="nav-link" href="{% url 'core:home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
              <li>
                <form class="searchform" action="{% url 'core:search' %}">
                  <input class="searchinput" name="q" type="search">
                  <i class="searchfa fa fa-search"></i>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    {% block content %}{% endblock content %}
    <!-- End Page Content -->
    
    {% include 'shared/footer.html' %}

    {% include 'shared/scripts.html' %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </body>

</html>
